annotated-types==0.7.0
asttokens==3.0.0
bleach==6.2.0
bokeh==3.8.0
boto3==1.38.32
botocore==1.38.46
briefer==0.0.14
certifi==2025.10.5
charset-normalizer==3.4.4
clickhouse-driver==0.2.9
colorlog==6.9.0
comm==0.2.3
confluent-kafka==2.12.0
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
docker==7.1.0
duckdb==1.4.1
ducklake==0.1.1
executing==2.2.1
fonttools==4.60.1
idna==3.11
iniconfig==2.1.0
ipykernel==6.30.1
ipython==9.6.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.7
ipywidgets-bokeh==1.6.0
jedi==0.19.2
jinja2==3.1.6
jmespath==1.0.1
jupyter-client==8.6.3
jupyter-core==5.8.1
jupyterlab-widgets==3.0.15
kafka-python==2.2.15
kiwisolver==1.4.9
-e file:///home/v0id/code/playground/ducklake_boilerplate
linkify-it-py==2.0.3
markdown==3.9
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.1.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
narwhals==2.8.0
nest-asyncio==1.6.0
numpy==2.3.4
packaging==25.0
pandas==2.3.3
panel==1.8.2
param==2.2.1
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
prompt-toolkit==3.0.52
psutil==7.1.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==20.0.0
pydantic==2.11.5
pydantic-core==2.33.2
pydantic-settings==2.9.1
pygments==2.19.2
pyparsing==3.2.5
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pyviz-comms==3.0.6
pyyaml==6.0.3
pyzmq==27.1.0
requests==2.32.5
s3transfer==0.13.1
setuptools==80.9.0
six==1.17.0
stack-data==0.6.3
tomli==2.3.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.3
urllib3==2.5.0
wcwidth==0.2.14
webencodings==0.5.1
widgetsnbextension==4.0.14
xyzservices==2025.4.0
